{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "baseUrl": "./src",
    "keepClassNames": true,
    "paths": {
      "#shared/*": [
        "./shared/*"
      ],
      "#person/*": [
        "./person/*"
      ],
      "#education/*": [
        "./education/*"
      ]
    }
  }
}